<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>
        Hi12
        <div>
            <!-- <img src="../public/images/pexels-eberhard-grossgasteiger-1624255.jpg"> -->
            <img src="/images/pexels-eberhard-grossgasteiger-1624255.jpg" class="imgtest">
        </div>
    </h1>
</body>
</html>